@{
    ViewBag.Title = $"Student" + ViewBag.Student.Name;
}

<div class="jumbotron">
    <h1>Student @ViewBag.Student.Name</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-2">
                Id
            </div>
            <div class="col-md-10">
                <span id="Id">@ViewBag.Student.Id</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                Name
            </div>
            <div class="col-md-10">
                <input id="Name" value="@ViewBag.Student.Name" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                CourseId
            </div>
            <div class="col-md-10">
                <span id="CourseId">@ViewBag.CourseId</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Course
            </div>
            <div class="col-md-10">
                <span id="CourseName">@ViewBag.CourseName</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                City
            </div>
            <div class="col-md-10">
                <span id="CourseName">@ViewBag.CityName</span>
            </div>
        </div>
    </div>
</div>